@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.text-poppins {
  font-family: "Poppins", sans-serif;
}

.text-blue {
  color: #134766;
}

.bg-blue {
  background-color: #134766;
}

.btn-super-user-landing {
  background-color: #ffd700 !important;
  color: rgb(255, 255, 255) !important;
  border-radius: 10px !important;
  border: none !important;
}

.btn-super-user-landing:hover {
  background-color: #836f00 !important;
}

.btn-super-user-landing:active {
  background-color: #00ffdd !important;
}

button:focus {
  box-shadow: none !important;
}

button:active {
  box-shadow: none !important;
}

.btn-get-started {
  background-color: #23d3fa !important;
  border: none !important;
}

.btn-get-started:hover {
  background-color: #2980b3 !important;
}

.btn-get-started:active {
  background-color: #23d3fa !important;
}

.card-header-left {
  /* tra  */
}

.card-package-super-user {
  border-radius: 25px !important;
  transition: 0.4s !important;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  cursor: pointer;
}

.card-package-super-user:hover {
  transition: 1s !important;
  box-shadow: 0 0 10px rgb(142, 205, 207);
}

.card-landing {
  border-radius: 25px !important;
}

.btn-auth {
  background-color: #58191900;
  border: none;
}

.btn-auth:hover {
  color: #23d3fa;
}

.img-profile-navbar {
  border-radius: 50%;
  height: 40px;
  background-color: #2980b3;
}

.btn-pay {
  background-color: #0d9636 !important;
  border: none !important;
}

.btn-pay:hover {
  background-color: #0cc443 !important;
}

.btn-pay:active {
  background-color: #0d9636 !important;
}

.btn-dropdown {
  background-color: #00c3ff00 !important;
  border: none !important;
  color: #000000 !important;
}

.btn-dropdown::after {
  display: none !important;
}

.group-profile {
  margin-bottom: 20px;
}

.group-profile .title {
  color: #2980b3 !important;
  font-size: 18px;
  font-weight: bold !important;
}

.group-profile .content {
  font-size: 15px;
  font-weight: 200 !important;
}

.card-transaction {
  /* background-color: #444c4759; */
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 8px;
  color: #ffffff;
}

.group-card-transaction {
  height: 640px;
  overflow-y: auto;
}

/* width */
.group-card-transaction::-webkit-scrollbar {
  width: 0px;
}

.card-profile {
  background-color: #134766;
  border-radius: 10px;
}

.img-profile {
  background-color: #2980b3;
  border-radius: 50%;
  width: 40%;
  margin: 20px 0;
}

.card-profile-first .name {
  color: #ffffff;
  font-size: 20px;
}

.card-profile-first .title {
  color: #ffffff;
  font-size: 13px;
  padding-bottom: 20px;
}

.card-profile-second {
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
}

.text-header-customer {
  font-weight: 600;
  font-size: large;
}

.card-course {
  background-color: #0a7cbe50;
  cursor: pointer;
  color: #000000;
}

.card-course:hover {
  background-color: #0a7cbe;
  color: #ffffff;
}

.card-class {
  background-color: #1348661f;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
}

.card-content {
  background-color: #1a84c21f;
  border-radius: 5px;
  padding: 10px;
}
